body{
  background-color: rgb(245, 93, 93);
}
h1{
  text-align: center;
  font-size: 40px;
}
table{
  margin: 40px 45px 45px 40px;
  border-collapse: collapse;
}

table tr;nth-child(even){
  background-color: rgb(224, 57, 57);
}
table tr;nth-child(odd){
  background-color: rgb(213, 76, 80);
}
th{
  border-right: 3px solid rgb(245, 93, 93);
  background-color: rgb(245, 39, 39);
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 18px;
}
tr,td{
  border: 3px solid rgb(245, 93, 93);
  padding: 15px;
  background-color: rgb(255, 68, 60);
  color: white;
}
a{
  text-decoration: none;
  color: yellow;
}
